@import "tailwindcss";

@font-face {
    font-family: h1;
    src: url('./fonts/comica_bd/ComicaBD-Regular.ttf');
}

@font-face {
    font-family: p;
    src: url('./fonts/comica_bd/ComicaBD-BoldItalic.ttf');
}
@font-face {
    font-family: si;
    src: url('./fonts/comica_bd/ComicaBD-Regular.ttf');
}

h1{
    font-family: h1;
}

body{
    font-family: p;

}